.sidenav {
  width: 370px;
  position: fixed;
  z-index: 1;
  top: 250px;
  left: 10px;
  background: rgb(255, 252, 252);
  overflow-x: hidden;
  padding: 8px 0;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  /* color: #2196F3; */
  display: block;
}

.sidenav a:hover {
  color: #064579;
}
td:hover {
  background-color: rgb(218, 218, 218);
  cursor: pointer;
}
tr{
  cursor: pointer;
}
a.nav-link.active
{
background-color: #e7e7e7;
color: #555 !important;
}

td.active
{
background-color: rgb(218, 218, 218);
color: #555 !important;
}
label{
font: bold;
}
tr:hover {
background-color: rgb(218, 218, 218);
cursor: pointer;
}
td:active{
background-color: rgb(218, 218, 218);
cursor: pointer;
}
h3{
color: rgb(105, 191, 224);
}
.btn-light{
/* color: rgb(255, 255, 255) ; */
background-color: rgb(105, 191, 224) ;
}