<app-teacher></app-teacher>
<form [formGroup]="studentDetails" (ngSubmit)="createStudent()">
    <div class="container">
        <h3>Student Details:</h3>
        <div>
            StudentName:
            <input type="text" formControlName="name">
        </div>
        <div>
            Gender:
            <input type="text" formControlName="gender">
        </div>
        <div>
            Phone no:
            <input type="number" formControlName="phoneno">
        </div>
            <button type="submit" >submit</button>
        </div>
</form>