<app-teacher></app-teacher>
<div class="container">
    <ul>
        <table class="table">
            <thead class="thead-light">
              <tr>
                <th>Resource name</th>
                <th>Resource Type</th>
                <th><button type="button" class="btn btn-light" data-toggle="modal" data-target="#myResource">Create Resource</button></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor= "let lists of viewLists">
                <td>{{lists.resourceName}}</td>
                <td>{{lists.resourceType}}</td>
                <td (click)="openModal(lists)" ><button class="btn btn-info ">
                  <span class="glyphicon glyphicon-trash"> Delete</span>   
                </button></td>
                </tr>
            </tbody>
          </table>
    </ul>
    <div class="modal" id="myResource">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
              <form [formGroup]="resourceDetails">
                  <div class="container">
                      <h3>Create Resource</h3>
                      <div >
                        <label class="col-md-6"><b>*Title</b></label>
                        <input type="text" class="col-md-6" formControlName="resourceName">
                      </div>
                      <div >
                        <label class="col-md-6"><b>*Resource Type:</b></label>
                        <input type="text" class="col-md-6" formControlName="resourceType">
                      </div>
                      <div >
                        <label class="col-md-6"><b>*Resource Description:</b></label>
                        <input type="text" class="col-md-6" formControlName="resourceDescription">
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="submit" data-dismiss="modal" class="btn btn-light" [disabled]="!resourceDetails.valid" (click)="createResource()">Submit</button>
                      <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
                  </div>
              </form>
          </div>
        </div>
      </div>
    </div>
</div>
