<app-teacher></app-teacher>
<div class="container">
    <ul>
        <table class="table">
            <thead class="thead-light">
              <tr>
                <th>StudyGuide Name</th>
                <th>Offering</th>
                <th>Offering Level</th>
                <th>Course</th>
                <th>Start Date</th>
                <th>End date</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor= "let lists of viewLists" (click)="onStudyGuide(lists)">
                <td>{{lists.studyGuideName}}</td>
                <td>{{lists.offeringReference.offeringName}}</td>
                <td>{{lists.offeringLevelReference.offeringLevelName}}</td>
                <td>{{lists.courseReference.courseName}}</td>
                <td>{{lists.validOnwards}}</td>
                <td>{{lists.validUpto}}</td>
                </tr>
            </tbody>
          </table>
        <button type="button" class="btn btn-light" data-toggle="modal" data-target="#myModal">Create StudyGuide</button>
    </ul>
   
    <div class="modal" id="myModal">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                    <form [formGroup]="studyGuideDetails" (ngSubmit)="createStudyGuide()">
                        <div class="container">
                            <h3>StudyGuide Details:</h3>
                            <div>
                                StudyGuideId:
                                <input type="number" formControlName="studyGuideId">
                            </div>
                            <div>
                                StudyGuideName:
                                <input type="text" formControlName="studyGuideName">
                            </div>
                            <div>
                              Offering:
                              <input type="text" formControlName="offering">
                            </div>
                            <div>
                              Offering Level:
                              <input type="text" formControlName="offeringLevel">
                            </div>
                            <div formGroupName="courseReference">
                                Course Name:
                                <select formControlName="courseName" >
                                    <option *ngFor="let course of courseDetails">{{course.courseName}}</option>
                                </select>
                            </div>
                            <div>
                                ValidOnwards:
                                <input type="date" formControlName="validOnwards">
                            </div>
                            <div>
                                ValidUpto:
                                <input type="date" formControlName="validUpto">
                            </div>
                            </div>
                    </form>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-footer">
                  <button type="submit" [disabled]="!studyGuideDetails.valid">submit</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
</div>