<app-teacher></app-teacher>
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<ul class="breadcrumb">
  <li>StudyGuide</li>
</ul>
<div class="container" >
  <div fxLayout="column" fxLayoutGap="20px" style="height: 1700;">
    <div fxLayout.lg="row" fxLayoutAlign="space-between start" fxLayoutGap="5px">
      <div class="widget tablefilters" style="height: 800;">
      <mat-card fxFlex="none" style="width: 330px;">
        <h3>SEARCH</h3>
        <input type="text" id="myInput" [(ngModel)]="searchText" autocomplete="off" placeholder="Search ..">
        <button type="submit"><i class="fa fa-search"></i></button>
        <br><br><mat-divider></mat-divider><mat-divider></mat-divider><br>
        <mat-card-title>Courses</mat-card-title>
        <mat-divider></mat-divider><mat-divider></mat-divider><br>
        <mat-card-content fxLayout="column" *ngFor="let lists of courses">
          <mat-checkbox (change)="onCheck(lists,$event)" >{{lists.courseName}}</mat-checkbox>
        </mat-card-content>
        </mat-card>
      <mat-card> 
  <ul>
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th>StudyGuide Name</th>
          <th>Offering</th>
          <th>Offering Level</th>
          <th>Course</th>
          <th>Start Date</th>
          <th>End date</th>
          <th><button id="createSG" type="button" class="btn btn-light" data-toggle="modal" data-target="#myModal" data-backdrop="static" (click)="getAllDetails()">Create StudyGuide</button></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor= "let lists of lists | filter : searchText" >
          <td id={{lists.studyGuideName}} (click)="onStudyGuide(lists)">{{lists.studyGuideName}}</td>
          <td (click)="onStudyGuide(lists)">{{lists.offeringReference.offeringName}}</td>
          <td (click)="onStudyGuide(lists)">{{lists.offeringLevelReference.offeringLevelName}}</td>
          <td (click)="onStudyGuide(lists)">{{lists.courseReference.courseName}}</td>
          <td (click)="onStudyGuide(lists)">{{lists.validOnwards | date}}</td>
          <td (click)="onStudyGuide(lists)">{{lists.validUpto | date}}</td>
          <td><button id="deleteSG" class="btn btn-info " (click)="onClick(lists)">
          <span data-toggle="modal" data-target="#deleteModal" data-backdrop="static" class="glyphicon glyphicon-trash" > Delete</span>  
          </button>
          </td>
        </tr>
        <div class="modal" id="deleteModal">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <div class="container">
                  <h4 >Are you sure to delete?</h4><br>
                  <div class="modal-footer">
                    <button id="delete" (click)="deleteStudyGuide()"  data-dismiss="modal"  type="button" class="btn btn-light">Delete</button>
                    <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> 
      </tbody>
    </table>
  </ul>
</mat-card>
</div>
  </div>
</div>
  <div class="modal" id="myModal">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <form [formGroup]="studyGuideDetails" >
              <div class="container">
                <h3>Create StudyGuide:</h3>
                  <div >
                    <label class="col-md-6"><b>*Title</b></label>
                    <input type="text" class="col-md-6" formControlName="studyGuideName">
                  </div>
                  <div>
                    <label class="col-md-6"><b>*Offering Name</b></label>
                    <select class="col-md-6" formControlName="offeringReference" (ngModelChange)="setOfferingLevels($event)" required>
                      <option [ngValue]="null" selected hidden>Choose offering</option>
                    <option  *ngFor="let offering of offerings" [ngValue]="offering"  >{{offering.offeringName}}</option >
                    </select>
                  </div>
                  <div>
                    <label class="col-md-6"><b>*Offering Level</b></label>
                      <select class="col-md-6" formControlName="offeringLevelReference" (ngModelChange)="setCourseDetails($event)" required>
                        <option [ngValue]="null" selected hidden>Choose offering Level</option>
                        <option *ngFor="let ols of offeringLevels" [ngValue]="ols" >{{ols.offeringLevelName}}</option>
                      </select>
                  </div>
                  <div>
                    <label class="col-md-6"><b>*Course Name</b></label>
                    <select class="col-md-6" formControlName="courseReference" required >
                      <option [ngValue]="null" selected hidden>Choose Course</option>
                      <option *ngFor="let course of courseDetails" [ngValue]="course"  >{{course.courseName}}</option>
                    </select>
                  </div>
                  <div>
                    <label class="col-md-6"><b>*Start Date</b></label>
                    <input class="col-md-6" type="date" min="{{ today | date : 'y-MM-dd' }}" formControlName="validOnwards"  (ngModelChange)="setStartDate($event)">
                  </div>
                  <div *ngIf="selectedStartDate"> 
                    <label class="col-md-6"><b>*End Date</b></label>
                    <input class="col-md-6" type="date" min="{{ selectedStartDate }}" formControlName="validUpto">
                  </div>
                  <div class="modal-footer">
                    <button type="submit" class="btn btn-light" [disabled]="!studyGuideDetails.valid"  data-dismiss="modal" (click)="createStudyGuide()" >Submit</button>
                    <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
                  </div>
                </div>
              </form>
          </div>
      </div>
    </div>
  </div>
</div>